@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@400;500;700&display=swap');

/* ***************** CSS VARIABLES ***************** */
:root {

  /* color */
  --clr-primary: 27, 89%, 54%;
  --clr-secondary: 199, 74%, 8%;
  --clr-white: 0, 0%, 100%;
  --clr-dark: 0, 0%, 0%;
  --clr-secondary-light: 200, 74%, 10%;
  --clr-light-dark: 0, 0%, 33%;
  --clr-light: 0, 0%, 96%;
  --clr-shadow: 0, 0%, 89%;

  /* font */
  --ff-primary: 'Poppins', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;

  /* font-size */
  --fs-64: 4rem;
  --fs-50: 3.125rem;
  --fs-42: 2.625rem;
  --fs-40: 2.5rem;
  --fs-30: 1.875rem;
  --fs-24: 1.5rem;
  --fs-20: 1.25rem;
  --fs-18: 1.125rem;
  --fs-15: 0.938rem;
  --fs-14: 0.875rem;
  --fs-13: 0.813rem;

  @media (max-width: 62em) {
    --fs-64: 2.813rem;
    /* 45px */
    --fs-50: 2.625rem;
    /* 42px */
    --fs-42: 2.313rem;
    /* 37px */
    --fs-40: 2.188rem;
    /* 35px */
  }

  @media (max-width: 48em) {
    --fs-64: 2.5rem;
    /* 40px */
    --fs-50: 2.188rem;
    /* 35px */
    --fs-42: 2rem;
    /* 32px */
    --fs-40: 1.875rem;
    /* 30px */
  }


  /* font-weight */
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /* size */
  --size-100: 1rem;
  /* 16px */
  --size-200: 1.25rem;
  /* 20px */
  --size-300: 1.5rem;
  /* 24px */
  --size-400: 1.75rem;
  /* 28px */
  --size-500: 2rem;
  /* 32px */
  --size-600: 2.25rem;
  /* 36px */
  --size-700: 2.5rem;
  /* 40px */
  --size-800: 2.75rem;
  /* 44px */
  --size-900: 3rem;
  /* 48px */
}


/* ***************** CSS RESET ***************** */

/* Box sizing rules remove default margin and padding*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* **************** Global Style ********************* */
body {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-400);
  font-size: var(--fs-15);
  color: hsl(var(--clr-dark));
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-primary);
  font-weight: var(--fw-700);
  color: hsl(var(--clr-dark));
  line-height: 1.2;
}

h1 {
  font-size: var(--fs-64);
}

h2 {
  font-size: var(--fs-50);
}

h3 {
  font-size: var(--fs-42);
}

h4 {
  font-size: var(--fs-40);
}

h5 {
  font-size: var(--fs-24);
}

h6 {
  font-size: var(--fs-20);
}

p {
  font-family: var(--ff-secondary);
  font-size: var(--fs-15);
}

a {
  color: hsl(var(--clr-secondary));
  text-decoration: none;
}


ul {
  list-style-type: none;
}

/* ********************************************************* */
/* *************************************************** */
/* ***************** Header***************** */
/* *************************************************** */
/* ********************************************************* */

/* *************************************************** */
/* ***************** Search Area  ***************** */

body {
  position: relative;
}

.search-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: hsl(var(--clr-secondary));
  padding: var(--size-500) 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  overflow-y: hidden;
  z-index: 999;
  transition: all 1s ease-in-out;
  display: none;
}

.search-section.search-section-active {
  display: block;
}

.search-section-container {
  margin-top: 10rem;
  --flex-dir-gap: 2rem;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search-close-btn {
  display: block;
  position: absolute;
  top: 10%;
  right: 10%;
  border: none;
  outline: none;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-secondary));
  transition: all .4s ease-in-out;
}

.search-close-btn:hover {
  background: hsl(var(--clr-primary));
  cursor: pointer;
}

.search-section-container input {
  width: 90%;
  outline: 0;
  border: 0;
  border-bottom: 2px solid hsl(var(--clr-primary));
  background: transparent;
  padding: var(--size-200);
  transition: all .4s ease-in-out;
}

.search-section-container input::placeholder {
  color: hsl(var(--clr-white));
  letter-spacing: 4px;
}

.search-submit-btn {
  display: block;
  width: 50%;
  color: hsl(var(--clr-dark));
}

.search-submit-btn:hover,
.search-submit-btn:focus {
  border: 2px solid hsl(var(--clr-primary));
  color: hsl(var(--clr-primary));
}


/* *************************************************** */
/* ***************** Primary Nav Styling ************* */

.primary-navigation .primary-nav-container {
  z-index: 99;
  margin-top: var(--size-500);
  padding-bottom: 1rem;
  justify-content: space-between;
}

.primary-navigation {
  width: 100%;
  transition: all .4s ease-in-out;
}

.primary-navigation.nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: hsl(var(--clr-secondary));
  z-index: 99;
}

.primary-logo {
  width: 150px;
  height: auto;
}

.primary-logo img {
  width: 100%;
}

.nav-links {
  display: flex;
  margin-block: 0;
  gap: 40px;
}

.nav-links li a {
  font-size: var(--fs-14);
  font-weight: var(--fw-700);
  text-decoration: none;
  font-family: var(--ff-primary);
  color: hsl(var(--clr-white));
  position: relative;
}

.nav-link {
  position: relative;
}

.sub-nav-links {
  display: none;
  position: absolute;
  gap: 1rem;
  top: 100%;
  left: 0;
  width: 180px;
  padding: 1rem 1rem;
  justify-content: flex-start;
  flex-direction: column;
  background: hsl(var(--clr-white));
  border-radius: 3px;
  -webkit-box-shadow: 0 0 20px hsl(var(--clr-secondary));
  box-shadow: 0 0 20px hsl(var(--clr-light-dark));
}

.sub-nav-links li a {
  color: hsl(var(--clr-light-dark));
}

@media (min-width: 48em) {
  .nav-links li:hover .sub-nav-links {
    display: flex;
    flex-direction: column;
  }
}

.header-icon {
  --flex-gap: 3rem;
  color: hsl(var(--clr-white));
}

.desktop-hide {
  display: none;
}

/* hamburger btn design */
.hamburger-btn {
  position: fixed;
  top: 4%;
  right: 5%;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: hsl(var(--clr-primary));
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding-inline: 5px;
}



.hamburger-icon,
.hamburger-icon::after,
.hamburger-icon::before {
  display: flex;
  background-color: hsl(var(--clr-secondary));
  width: 25px;
  height: 2.5px;

  position: absolute;
  transition: all .7s;
}

.hamburger-icon::after,
.hamburger-icon::before {
  content: "";
}

.hamburger-icon::after {
  transform: translate(0px, -8px);
}

.hamburger-icon::before {
  transform: translate(0px, 8px);
}

.rotate.hamburger-icon {
  background-color: transparent;
}

.rotate.hamburger-icon::before {
  transform: translateX(-0px) rotate(315deg);
}

.rotate.hamburger-icon::after {
  transform: translateX(-0px) rotate(-315deg);
}

/* Hero bg */
.primary-header {
  height: 100vh;
  position: relative;
  z-index: 99;
  justify-content: center;
  align-items: center;
}

.primary-header-bg {
  background: url('../Image/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 100%;
  width: 100%;
  overflow: hidden;
}

.primary-header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(var(--clr-secondary-light));
  z-index: -1;
  opacity: 0.6;
}

.primary-header-content {
  justify-content: center;
  align-items: center;
  height: 100%;
  --flex-dir-gap: 2rem;
  padding-inline: var(--size-500);
}

.nav-link p {
  display: none;
}

/* *************************************************** */
/* ***************** Header Responsive *************** */

@media (max-width: 62em) {
  .primary-navigation .primary-nav-container {
    justify-content: space-around;
  }

  .primary-logo {
    width: 150px;
    height: auto;
  }

  .nav-links,
  .header-icon {
    gap: 20px;
  }
}

@media (max-width: 48em) {
  .search-section-container input {
    width: 80%;
    font-size: var(--fs-42);
  }

  .primary-header-bg {
    background: url('../Image/hero-bg.jpg');
    background-size: auto;
    background-repeat: no-repeat;
  }

  .desktop-hide {
    display: block;
  }

  .primary-navigation.nav-sticky {
    position: static;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 99;
  }

  .primary-navigation {
    width: 100%;
    justify-content: space-around;
    margin-inline: auto;
    z-index: 99;
  }

  .nav-links {
    position: fixed;
    top: 15%;
    left: 10%;
    right: 10%;
    flex-direction: column;
    text-align: left;
    padding-block: 1rem;
    margin-left: 0;
    padding-left: 0;
    column-gap: 1rem;
    margin-right: 5rem;
    width: 80%;
    max-height: 0;
    height: auto;
    background-color: hsl(var(--clr-secondary));
    box-shadow: 0 0 20px hsl(var(--clr-secondary));
    overflow: hidden;
    transition: none;
    z-index: 99;
  }

  .nav-link p {
    display: block;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    width: auto;
    height: auto;
    padding: 5px 8px;
    background: hsl(var(--clr-light-dark));
  }


  .nav-link .fa-angle-down {
    display: none;
  }

  .nav-links.mobile-active {
    display: flex;
    max-height: 350px;
    animation: expandNav 0.5s ease forwards;
  }

  @keyframes expandNav {
    from {
      max-height: 0;
      opacity: 0;
    }

    to {
      max-height: 350px;
    }
  }

  .nav-links:not(.mobile-active) {
    animation: collapseNav 0.5s ease forwards;
  }

  @keyframes collapseNav {
    from {
      max-height: 350px;
      /* min-height: 100%; */
    }

    to {
      /* min-height: 100%; */
      max-height: 0;
      opacity: 0;
      display: none;
    }
  }


  .nav-links li {
    list-style: none;
    border-bottom: 2px solid hsl(var(--clr-light-dark));
    width: 100%;
  }

  .nav-links .nav-link:last-child {
    border-bottom: none;

  }

  .nav-links li a {
    display: inline-block;
    padding-top: .5rem;
    padding-left: 1rem;
    font-size: var(--fs-15);
    font-weight: var(--fw-800);
    text-decoration: none;
    font-family: var(--ff-primary);
    color: hsl(var(--clr-white));
  }

  .sub-nav-links {
    display: none;
    gap: 0;
    position: static;
    width: 100%;
    min-height: auto;
    padding: 1rem 1rem;
    justify-content: flex-start;
    flex-direction: column;
    background: transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 20px hsl(var(--clr-secondary));
    box-shadow: none;
    transition: all 0.5s ease-in-out;
  }

  .sub-nav-link {
    margin-bottom: 5px;
    width: 100%;
    border-bottom: 2px solid hsl(var(--clr-light-dark));
  }

  .active-sub-nav-link.sub-nav-links {
    transition: all 0.5s ease-in-out;
    display: flex;
  }

  .header-icon {
    --flex-gap: 1rem;
    margin-right: 1rem;
  }

  .header-icon a,
  .header-icon p {
    font-size: var(--fs-20);
  }

  .primary-header-btn {
    width: 100%;
    flex-direction: column;
  }

  .primary-header-btn a {
    display: block;
  }
}


/* ********************************************************* */
/* *************************************************** */
/* ***************** Main ***************** */
/* *************************************************** */
/* ********************************************************* */




/* *************************************************** */
/* ***************** Order Experience Section ***************** */
/* *************************************************** */

.OE-section-container {
  justify-content: space-between;
  padding-block: calc(var(--size-900) + 2rem);
}


@media (max-width: 62em) {
  .OE-section-container {
    flex-wrap: wrap;
  }

  .OE-section-item {
    margin-bottom: var(--size-500);
    flex-basis: 45%;
  }
}

@media (max-width: 48em) {
  .OE-section-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .OE-section-item {
    flex-basis: 100%;
  }

}


/* *************************************************** */
/* ***************** Products Section ***************** */
/* *************************************************** */

.product-header p,
.news-header p {
  max-width: 530px;
}

.product-card-container,
.news-card-container {
  flex-wrap: wrap;
}

.product-card,
.news-card {
  border-radius: 5px;
  flex-basis: 32%;
  flex-wrap: wrap;
}

.product-card:hover.shadow,
.news-card:hover.shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (max-width: 62em) {
  .product-card,
  .news-card{
    flex-basis: 48%;
  }
}

@media (max-width: 48em) {
  .product-card,
  .news-card{
    flex-basis: 100%;
  }
}



/* *************************************************** */
/* ***************** Deal Section ***************** */
/* *************************************************** */

.deal-section-container {
  flex-wrap: wrap;
}

.deal-section-img {
  min-width: 45%;
  flex-basis: 45%;
}

.deal-section-content {
  flex-basis: 45%;
}

.deal-counter-box {
  margin-block: 1rem;
  margin-right: 1rem;
  display: inline-block;
  padding-inline: 20px;
  padding-block: 8px;
  border: 2px solid hsl(var(--clr-primary));
}

@media (max-width: 62em) {
  .deal-section-img {
    flex-basis: 80%;
  }

  .deal-section-content {
    flex-basis: 100%;
  }
}

@media (max-width: 48em) {
  .deal-section-img {
    flex-basis: 100%;
  }

  .deal-section-content {
    flex-basis: 100%;
  }

  .deal-counter-box {
    margin-block: 1rem;
    margin-right: 0.5rem;
  }
}

/* *************************************************** */
/* ***************** testimonial Section ***************** */
/* *************************************************** */

.testimonial-carousel-wrapper .testimonial-carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.testimonial-carousel::-webkit-scrollbar {
  display: none;
}

.testimonial-carousel.carousel-no-transition {
  scroll-behavior: auto;
}

.testimonial-carousel.carousel-dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.testimonial-carousel.carousel-dragging .testimonial-carousel-card {
  cursor: grab;
  user-select: none;
}

.testimonial-carousel :where(.testimonial-carousel-card, .carousel-card-img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-carousel .testimonial-carousel-card {
  flex-direction: column;
  height: auto;
  padding-bottom: 15px;
  list-style: none;
  cursor: pointer;
  scroll-snap-align: start;
}

.testimonial-carousel-card .testimonial-carousel-card-img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-carousel-card p {
  max-width: 700px;
}

.testimonial-carousel-card i {
  opacity: 0.3;
}

/* *************************************************** */
/* ***************** About Section ***************** */
/* *************************************************** */

.about-section-video {
  position: relative;
  flex-basis: 50%;
  background-image: url(../Image/feature-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  margin-inline: var(--size-900);
}

.about-section-video::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(var(--clr-secondary-light));
  opacity: 0.4;
}

.about-section-video a {
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  color: hsl(var(--clr-secondary));
  border-radius: 50%;
  z-index: 1;
  transition: all .4s ease-in-out;
}

.about-section-video a:hover,
.about-section-video a:focus {
  background-color: hsl(var(--clr-secondary));
  color: hsl(var(--clr-primary));
}

.about-section-content {
  flex-basis: 45%;
}

@media (max-width: 62em) {    
  .about-section-container {
    flex-direction: column;
  }

  .about-section-video {
    flex-basis: 100%;
    min-height: 350px;
    width: auto;
    margin-inline: 0px;
  }
}


/* *************************************************** */
/* ***************** Sale/ Discount Section ***************** */
/* *************************************************** */

.sale-section {
  position: relative;
  background-color: hsl(var(--clr-light));
  background-image: url(../Image/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

@media (max-width: 62em) {
  .sale-section {
    background-position: center;
  }
  .sale-section::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(var(--clr-light));
    opacity: 0.4;
    z-index: -1;
  }
}


/* *************************************************** */
/* ***************** News section ***************** */
/* *************************************************** */

.news-card-img img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: all .3s ease-in-out;
}

.news-card-img:hover img {
  opacity: 0.8;
}

/* *************************************************** */
/* ***************** company carousel ***************** */
/* *************************************************** */

.brand-carousel-wrapper .brand-carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.brand-carousel::-webkit-scrollbar {
  display: none;
}

.brand-carousel.carousel-no-transition {
  scroll-behavior: auto;
}

.brand-carousel.carousel-dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.brand-carousel.carousel-dragging .brand-carousel-card {
  cursor: grab;
  user-select: none;
}

.brand-carousel :where(.brand-carousel-card, .carousel-card-img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-carousel .brand-carousel-card {
  flex-direction: column;
  height: auto;
  padding-bottom: 15px;
  border-radius: 8px;
  list-style: none;
  background: transparent;
  cursor: pointer;
  scroll-snap-align: start;
}

.brand-carousel-card .brand-carousel-card-img img {
  width: 180px;
  height: auto;
  object-fit: cover;
}

@media (max-width: 62em) {
  .brand-carousel-wrapper .brand-carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media (max-width: 48em) {
  .brand-carousel-wrapper .brand-carousel {
    grid-auto-columns: 100%;
  }
}


/* *************************************************** */
/* ***************** Back to Top ***************** */
/* *************************************************** */

.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 99999;
  transition: all .4s ease-in-out;
}

.scroll-to-top:hover,
.scroll-to-top:focus {
  background-color: hsl(var(--clr-secondary));
  color: hsl(var(--clr-primary));
}

/* *************************************************** */
/* ***************** UTILITY CLASSES ***************** */
/* *************************************************** */

.flex {
  display: flex;
  gap: var(--flex-gap, 1rem);
}

.flex-dir-col {
  display: flex;
  flex-direction: column;
  gap: var(--flex-dir-gap, 1rem);
}

.ai-jc-center {
  align-items: center;
  justify-content: center;
}

.ai-jc-start {
  align-items: flex-start;
  justify-content: flex-start;
}

.ai-jc-end {
  align-items: flex-end;
  justify-content: flex-end;
}

.container {
  max-width: 70rem;
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--con-pd-inline, 1rem);
}

@media (max-width: 62em) {
  .container {
    --con-pd-inline: 1.3rem;
  }
}

@media (max-width: 48em) {
  .container {
    --con-pd-inline: 1.5rem;
  }
}

.d-block {
  display: block;
}

.text-center {
  text-align: center !important;
}

.text-clr-primary {
  color: hsl(var(--clr-primary));
}

.text-clr-secondary {
  color: hsl(var(--clr-secondary));
}

.text-clr-dark {
  color: hsl(var(--clr-dark));
}

.text-clr-light {
  color: hsl(var(--clr-light-dark));
}

.text-clr-white {
  color: hsl(var(--clr-white));
}

.ff-poppins {
  font-family: var(--ff-primary);
}

.ff-open-sans {
  font-family: var(--ff-secondary);
}

.fs-64 {
  font-size: var(--fs-64);
}

.fs-50 {
  font-size: var(--fs-50);
}

.fs-42 {
  font-size: var(--fs-42);
}

.fs-30 {
  font-size: var(--fs-30);
}

.fs-40 {
  font-size: var(--fs-40);
}

.fs-24 {
  font-size: var(--fs-24);
}

.fs-20 {
  font-size: var(--fs-20);
}

.fs-18 {
  font-size: var(--fs-18);
}

.fs-15 {
  font-size: var(--fs-15);
}

.fs-14 {
  font-size: var(--fs-14);
}

.fs-13 {
  font-size: var(--fs-13);
}

.fw-900 {
  font-weight: var(--fw-900);
}

.fw-800 {
  font-weight: var(--fw-800);
}

.fw-700 {
  font-weight: var(--fw-700);
}

.fw-600 {
  font-weight: var(--fw-600);
}

.fw-500 {
  font-weight: var(--fw-500);
}

.fw-400 {
  font-weight: var(--fw-400);
}

.fw-300 {
  font-weight: var(--fw-300);
}

.fw-200 {
  font-weight: var(--fw-200);
}

.fw-100 {
  font-weight: var(--fw-100);
}

.letter-spacing-9 {
  letter-spacing: 9px;
}

.letter-spacing-8 {
  letter-spacing: 8px;
}

.letter-spacing-7 {
  letter-spacing: 7px;
}

.letter-spacing-6 {
  letter-spacing: 6px;
}

.letter-spacing-5 {
  letter-spacing: 5px;
}

.letter-spacing-4 {
  letter-spacing: 4px;
}

.letter-spacing-3 {
  letter-spacing: 3px;
}

.uppercase {
  text-transform: uppercase;
}

.max-mg-block {
  margin-block: var(--size-900);
}

.max-pd-block {
  padding-block: var(--size-900);
}

.max-mg-inline {
  margin-inline: var(--size-900);
}

.max-pd-inline {
  padding-inline: var(--size-900);
}

.md-mg-block {
  margin-block: var(--size-500);
}

.md-pd-block {
  padding-block: var(--size-500);
}

.md-mg-inline {
  margin-inline: var(--size-500);
}

.md-pd-inline {
  padding-inline: var(--size-500);
}

.sm-mg-block {
  margin-block: var(--size-300);
}

.sm-pd-block {
  padding-block: var(--size-300);
}

.sm-mg-inline {
  margin-inline: var(--size-300);
}

.sm-pd-inline {
  padding-inline: var(--size-300);
}

.xs-mg-block {
  margin-block: var(--size-100);
}

.xs-pd-block {
  padding-block: var(--size-100);
}

.xs-mg-inline {
  margin-inline: var(--size-100);
}

.xs-pd-inline {
  padding-inline: var(--size-100);
}

.shadow {
  -webkit-box-shadow: 0 0 20px hsl(var(--clr-shadow));
  box-shadow: 0 0 20px hsl(var(--clr-shadow));
  transition: all .3s ease-in-out;
}

.bg-clr-primary {
  background: hsl(var(--clr-primary));
}

.bg-clr-secondary {
  background: hsl(var(--clr-secondary));
}

.bg-clr-light {
  background: hsl(var(--clr-light));
}

.bg-clr-light-dark {
  background: hsl(var(--clr-light-dark));
}

.icon-circle i {
  display: block;
  font-size: 24px;
  margin-right: 15px;
  color: hsl(var(--clr-primary));
  width: 65px;
  height: 65px;
  text-align: center;
  line-height: 60px;
  border: 2px hsl(var(--clr-primary)) dotted;
  border-radius: 50%;
}

.underline-hover-link {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.underline-hover-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: hsl(var(--clr-primary));
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease-in-out;
}

.underline-hover-link:hover::after,
.underline-hover-link:focus::after {
  transform: scaleX(1);
  color: hsl();
}

.hover-link {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.hover-link:hover,
.hover-link:focus {
  color: hsl(var(--clr-primary));
  outline: 0;
}

.primary-btn {
  display: inline-block;
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 50px;
  border: none;
  background-color: hsl(var(--clr-primary));
  color: hsl(var(--clr-white));
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: hsl(var(--clr-secondary));
  color: hsl(var(--clr-primary));
}

.secondary-btn {
  display: inline-block;
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 50px;
  border: 2px solid hsl(var(--clr-primary));
  background-color: transparent;
  color: hsl(var(--clr-white));
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.secondary-btn:hover,
.secondary-btn:focus {
  background-color: hsl(var(--clr-primary));
  color: hsl(var(--clr-white));
}

/* active-link  */
a:is(:link, :active, :visited).active-Link {
  color: hsl(var(--clr-primary));
}